body{
	background: black;
}
/*
 .center,
.left,
.right{
  display: block;
  background: #eac4f5;
  border-style: solid;
  border-color: red;
}
*/

.column, .columns {
  min-height: 30px;
}

img {
  margin-top: -25px;
}

#tech-blog {
	margin: 15px 0px 0px 30px;
}

.icon {
	margin-top: 20px;
}

#hmom {
	margin: 32px 0px 0px 15px
}

#skillz {
	margin: -85px 0px 0px 0px;
}